/*Menu.css*/



/*layout menu general*/

div#menuContainer {
    width: 100%;

}

div#closeButtonContainer {
    height: 25px;
}

div#closeButton {
    background: url(../img/cross_close.png);
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: 50%;
    float: right;
    cursor: pointer;
    background-size: 100%;
    opacity: 0.8;
}
div#closeButton:hover{
    opacity:1;

}
.sceneTitle{
    color: white;
    position: relative;
    float: right;
    margin-right: 8px;
    font-size: 25px;
}
div#buttonsMenu {
    float: left;
    position: relative;
    width: 100%;
    box-shadow: 0 0 20px rgba(255, 0, 64, 0.65);
}

div#contentsMenu {
    float: left;
    position: relative;
    width:100%;
    color: white;
    background-color: rgba(255, 0, 26, 0.67);
    box-shadow: 0 0 5px black;
    padding-bottom: 10px;

}
.buttonsMenu {
    border-style: solid;
    border-width: 0px 1px 0 0;
    border-color: rgb(0, 168, 255);
    /* box-shadow: 0 0 1px black; */
    cursor: pointer;
    float: left;
    line-height: 40px;
    text-align: center;
    height: 40px;
    background-color: rgba(0, 90, 255, 0.58);
    /* margin-bottom: 10px; */
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
    width: 139px;
}
.buttonsMenu:hover {
    color:white;
    background-color: rgba(12, 0, 238, 0.53)!important;   
}

/*layout menu library*/

.submenuLibraryContent {
    float: left;
    height: 300px;
    width: 33%;
}
.librarySelects {
    overflow-y: auto;
    height: 250px;
    overflow-x: hidden;
}




.libraryTitles {

    width: 100%;
    display: inline-block;
    text-align: center;

}
ul.librarySelects {
    padding: 0.5em 1em;
    margin: 5%;
    position: relative;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.29);
    list-style: none;
    height:75%

}
.librarySelects.ps-container > .ps-scrollbar-x-rail,
.librarySelects.ps-container > .ps-scrollbar-y-rail
{
    opacity:0.6;

}
.librarySelects.ps-container > .ps-scrollbar-x-rail,
.librarySelects.ps-container > .ps-scrollbar-y-rail:hover
{
    opacity:0.6;

}
li {
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 0em 0.2em;
}
li>a {
    display: block;
    padding-left: 1em;
}

li>a:hover {
    color: #000;
    text-decoration: none;
    background-color: rgba(255, 223, 77, 0.5);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.49);
    border-radius: 5px;
}
/*perfect scroll bar theme*/

.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
    border-radius:0px!important;
    background-color: #73FFEA;

}
.ps-container > .ps-scrollbar-y-rail  {
    border-radius:0px!important;

}
/*layout menu export*/

div#exportContent {
    height: 300px;
}
.exportSubmenu {
    width: 29%;
    padding: 0px 2%;
    float: left;
        height: 100%;

}
.exportTitle {
    text-align: center;
    width: 100%;
    display: block;
}
.selects {
        margin-bottom: 1em;
    padding: 0.3em;
    width: 100%;
    max-width: 200px;
    border: none;
    /* color: white; */
    background-color: rgba(255, 255, 255, 0.49);
    cursor:pointer;
}


div#nameAppContainer {
    border-right-color: rgba(0, 0, 0, 0.35);
    border-right-style: solid;
    border-right-width: 2px;
}
input#inputNameApp {
    display: block;
    margin: 1em auto;
    margin-bottom: 2em;
    color: white;
    border-style: none;
    padding: 0.3em;
    width: 95%;
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0.3);
}

.button {
    border: none;
    background-color: #CF3459;
    margin: 0 auto;
    width: 98%;
    max-width: 200px;
    display: block;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.52);
    opacity: 0.8;
    color: white;
    min-height:40px;
}

.button:hover {
    box-shadow:0 0 5px black;
    opacity: 1;
    }
span#rulesName {
    font-size: 0.8em;
    display: block;
    opacity: 0.6;
    margin: 2em 0;
    text-align:justify;
}

div#nameAppContainer {
    border-right-color: rgba(0, 0, 0, 0.2);
    border-right-style: solid;
    border-right-width: 2px;
}
div#exportOptionContainer{
    border-right-color: rgba(0, 0, 0, 0.2);
    border-right-style: solid;
    border-right-width: 2px;
}

#faustweburl {
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 4em;
    display: block;
    margin: 0 auto;
    border: 0px;
    text-align: center;
    font-size: 12px;
    background-color: transparent;
    outline: 0px solid transparent;
    text-align: center;
    position: relative;
}
#refreshButton {
    position: relative;
    width: 30%;
    float: left;
    cursor:pointer;
    opacity:0.8;
}
#refreshButton:hover{
    opacity:1;
}

#selectDiv{
	position:relative; 
    width: 70%;
    float:left;
}

#plateforms{

	display:block; 
	margin-bottom:5px; 
}

#architectures{

	display:block; 
	margin-bottom:3em; 
}

#exportButton{

}

/*téléchargement*/

a#linkDownload {
    display: block;
    text-align: center;
    font-size: 1em;
    line-height: 3em;
    margin-top: 2em;
}
a#linkDownload:hover{
    color:white;
}

#loadingImg {
    border: 0;
    width: 75px;
    display: block;
    margin: 3em auto;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

#loadingText{
    display: block;
    width: 26%;
    margin: 0 auto;
}

#qrcodeDiv{
	position: relative; 
    margin-top: 2.5em;
}

#qrcodeDiv>div {
    box-shadow: 0 0 5px black;
}

/*help menu*/

div#videoContainer {
    margin: 0 auto;
    width: 600px;
}