/*Menu.css*/



/*layout menu general*/


div#menuContainer {
    width: 100%;
    position: absolute;
    top: 0;
}

.no_pointer{
    pointer-events:none;
}

div#closeButtonContainer {
    height: 25px;
}
.menuContent {
    width:100%;
}
div#closeButton {
    background: url(../img/cross_close_menu.png);
    width: 15px;
    height: 15px;
    margin: 5px;
    background-repeat: no-repeat;
    background-position: 50%;
    float: right;
    cursor: pointer;
    background-size: 100%;
    opacity: 0.8;
}
div#closeButton:hover{
    opacity:1;

}
.sceneTitle{
    color: white;
    position: relative;
    float: right;
    margin-right: 8px;
    font-size: 25px;
}
div#buttonsMenu {
    background-color: rgba(255, 0, 0, 0.39);
    float: left;
    position: relative;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 55, 255, 0.65);
}

div#contentsMenu {
    float: left;
    position: relative;
    width:100%;
    color: white;
    background-color: rgba(220,54,64,0.9);
    box-shadow: 0 0 5px black;
    padding-bottom: 10px;

}
.buttonsMenu {
    position:relative;
    border-style: solid;
    border-width: 0px 1px 0 0;
    border-color: rgba(0, 168, 255,0.4);
    /* box-shadow: 0 0 1px black; */
    cursor: pointer;
    float: left;
    line-height: 40px;
    text-align: center;
    height: 40px;
    background-color: rgba(227, 64, 80, 0.73);
    /* margin-bottom: 10px; */
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
    width: 99px;
}
.buttonsMenu:hover {
    color:white;
    background-color: rgba(209, 64, 80, 0.9)!important;   
}

/*layout menu library*/

.submenuLibraryContent {
    float: left;
    height: 300px;
    width: 33%;
}
.librarySelects {
    overflow-y: auto;
    height: 250px;
    overflow-x: hidden;
}




.libraryTitles {

    width: 100%;
    display: inline-block;
    text-align: center;

}
ul.librarySelects {
    padding: 0.5em 1em;
    margin: 5%;
    position: relative;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.29);
    list-style: none;
    height:calc(100% - 4em);
    
}
.librarySelects.ps-container > .ps-scrollbar-x-rail,
.librarySelects.ps-container > .ps-scrollbar-y-rail
{
    opacity:0.6;

}
.librarySelects.ps-container > .ps-scrollbar-x-rail,
.librarySelects.ps-container > .ps-scrollbar-y-rail:hover
{
    opacity:0.6;

}
li {
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 0em 0.2em;
}
li>a {
    display: block;
    padding-left: 1em;
    pointer-events:all!important;
}

li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: rgba(59, 165, 255, 0.74);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.49);
    border-radius: 2px;
}
/*perfect scroll bar theme*/

.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
    border-radius:0px!important;
    background-color: #73FFEA;

}
.ps-container > .ps-scrollbar-y-rail  {
    border-radius:0px!important;

}
/*layout menu export*/

div#exportContent {
    height: 100%;
}
.exportSubmenu {
    width: 29%;
    padding: 0px 2%;
    float: left;
    height: 100%;
    margin-bottom: 2.5em;
}
.exportTitle {
    text-align: center;
    width: 100%;
    display: block;
}
.selects {
    display: block;
    margin: 0 auto;
    margin-bottom: 1em;
    padding: 0.3em;
    width: 100%;
    max-width: 200px;
    border: none;
    /* color: white; */
    background-color: rgba(255, 255, 255, 0.49);
    cursor:pointer;
}
.bottomButtonContainer {
    bottom: 0;
    position: absolute;
    width: calc(100%/3.45);
    margin-bottom: 1em;
}

div#nameAppContainer {
    border-right-color: rgba(0, 0, 0, 0.35);
    border-right-style: solid;
    border-right-width: 2px;
}
input#inputNameApp {
}
.inputExport{
    display: block;
    margin: 1em auto;
    color: white;
    border-style: none;
    padding: 0.3em;
    width: 95%;
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0.3);
}

.button {
    border: none;
    background-color: #E34050;
    margin: 0 auto;
    width: 98%;
    max-width: 200px;
    display: block;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.52);
    opacity: 0.8;
    color: white;
    min-height:40px;
    
}

.changeAccountButton {
    margin-bottom: 1em;
}

.button:hover {
    box-shadow:0 0 5px black;
    opacity: 1;
    }
span#rulesName {
    font-size: 0.8em;
    display: block;
    opacity: 0.6;
    margin: 2em 0;
    text-align:justify;
}

div#nameAppContainer {
    border-right-color: rgba(0, 0, 0, 0.2);
    border-right-style: solid;
    border-right-width: 2px;
}
div#exportOptionContainer{
    border-right-color: rgba(0, 0, 0, 0.2);
    border-right-style: solid;
    border-right-width: 2px;
}

#faustweburl {
    /*color: rgba(255, 255, 255, 0.6);
    padding-bottom: 4em;
    display: block;
    margin: 0 auto;
    border: 0px;
    text-align: center;
    font-size: 12px;
    background-color: transparent;
    outline: 0px solid transparent;
    text-align: center;
    position: relative;*/
}
#refreshButton {
    margin-bottom: 2em
}
#refreshButton:hover{
    opacity:1;
}

#selectDiv{
	position:relative; 
    width: 100%;
    float:left;
}

div#moreOptionDiv {
    top: 40%;
    margin: 0px auto;
    width: inherit;
    cursor: pointer;
    text-align: center;
    position: absolute;
}

div#lessOptionDiv {
    cursor: pointer;
    font-size: small;
}

#plateforms{


}

#architectures{


}

#exportButton{

}

/*téléchargement*/

a#linkDownload {
    display: block;
    text-align: center;
    font-size: 1em;
    line-height: 3em;
    margin-top: 2em;
}
a#linkDownload:hover{
    color:white;
}

#loadingImg {
    border: 0;
    width: 75px;
    display: block;
    margin: 3em auto;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

#loadingText{
    display: block;
    width: 26%;
    margin: 0 auto;
}

#qrcodeDiv{
	position: relative; 
    margin-top: 2em;
    margin-bottom: 2em;
}

#qrcodeDiv>div {
    box-shadow: 0 0 5px black;
}

/*help menu*/

div#videoContainer {
    margin: 0 auto;
    width: 600px;
}

/*fullscreen button*/
.buttonsLittleMenu {
    height: 40px;
    cursor: pointer;
    margin: 0 1%;
    width: 40px;
    float: left;
}
div#fullScreenButton {
    background: url("../img/fullscreen.png") no-repeat 50%;
    background-size: 80%;
}
div#accButton {
    background: url("../img/checkBox.png") no-repeat 50%;
    background-size: 80%;
}
 div#cleanButton {
    background: url("../img/trash.png") no-repeat 50%;
    background-size: 80%;
}

/*Save menu*/


div#saveContainer {
    height: 100%;
}

div#downloadContainer {
    border-right-color:rgba(0, 0, 0, 0.2);
    border-right-style: solid;
    border-right-width: 2px;
}
div#localSaveContainer {
    border-right-color: rgba(0, 0, 0, 0.2);
    border-right-style: solid;
    border-right-width: 2px;
}

#labelDownload {
    font-size: 0.8em;
}
#checkBoxPrecompile {
    display: block;
    float: left;
    margin: 0.5em;
}
select.sceneSelect {
    width: 100%;
    background: rgba(255, 255, 255, 0.15);
    border: none;
    color: white;
    padding: 0.2em;
    margin-bottom: 1em;
}

select::selection {
    background: rgba(255, 255, 255, 0.53)!important;
    color: black!important;
    text-shadow: none;
}

select:focus {
    border:none;
    background: rgba(255, 255, 255, 0.53)!important;
    
}

#dialogGoodNews {
    -webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

/*load menu*/

div#loadContainer {
        height: 100px;
}

div#loadFileContainer {
    border-right-color: rgba(0, 0, 0, 0.2);
    border-right-style: solid;
    border-right-width: 2px;
}
div#loadLocalContainer {
    border-right-color: rgba(0, 0, 0, 0.2);
    border-right-style: solid;
    border-right-width: 2px;
}

#loadFileInput {
    width: 100%;
}

.exempleAnchor {
    display: block;
    line-height: 2em;
}

select#existingSceneSelectDrive {
    width: 100%;
    background: rgba(255, 255, 255, 0.15);
    border: none;
    color: white;
    padding: 0.2em;
}
