/*Menu.css*/

div#menuContainer {
    width: 100%;
    display: inline-flex;
    /*z-index: 1;*/
}

div#closeButtonContainer {
    height: 50px;
}

div#closeButton {
    background: url(../img/cross_close.png);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: 50%;
    float: right;
    cursor:pointer;
}


div#buttonsMenu {
    float: left;
    position: relative;
    width: 75px;
    cursor:pointer;
}

div#contentsMenu {
    float: left;
    position: relative;
    width:100%;
    color: white;
    background-color: rgba(255, 0, 26, 0.67);
    box-shadow: 0 0 5px black;
    padding-bottom: 10px;

}

.submenuLibraryContent {
    float: left;
    height: 300px;
    width: 33%;
}
.librarySelects {
    overflow-y: auto;
    height: 250px;
    overflow-x: hidden;
}

.buttonsMenu {
    line-height: 70px;
    text-align: center;
    width: 75px;
    height: 75px;
    background-color: rgba(0, 65, 238, 0.66);
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}
.buttonsMenu:hover {

    background-color: rgba(0, 65, 238, 1);
   
}

.exportSubmenu {
    width: 33%;
    min-width: 33%;
    position: relative;
    float: left;
}

.selects {
    width: 100%;
    max-width:200px;
}


input#inputNameApp {
    width: 98%;
    max-width: 200px;
}

#buttonNameApp {
    width: 98%;
    max-width: 200px;
}
span#rulesName {
    font-size: 0.8em;
    display: block;
    opacity: 0.6;
}
ul.librarySelects {
    height: 80%;
    position: relative;
    width: 75%;
}
.librarySelects.ps-container > .ps-scrollbar-x-rail,
.librarySelects.ps-container > .ps-scrollbar-y-rail
{
    opacity:0.6;

}
.librarySelects.ps-container > .ps-scrollbar-x-rail,
.librarySelects.ps-container > .ps-scrollbar-y-rail:hover
{
    opacity:0.6;

}